<!-- assets/javascripts/discourse/components/qualification-cell.hbs -->
<td
  class="{{this.cellClass}}"
  data-background-color={{this.args.backgroundColor}}
  data-has-qualification={{this.args.hasQualification}}
>
  <div class="qualification-cell__content">
    {{yield}}
  </div>
</td>
